header{
    width:100%;
    height:25%;
    background-image: url('/imagen4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat:  no-repeat;
}

@media (max-width:600px){
    header{
        background-color: blue;
        background-image: none;
    }

  }