@import url('https://fonts.googleapis.com/css2?family=Playball');

/* No se porque va, pero tampoco va bien asi que da igual */
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: "Playball", sans-serif;
}

header h1 {
    background-color: rgb(244, 123, 17);
    font-size: 40px;
    text-transform: uppercase;
    padding: 5px 5px 20px 0;
}
footer h2 {
    background-color: rgb(244, 123, 17);
    width: 100%;
    height: 5%;
}

main {
    margin: 3% 7%;
    padding: 0 5%;
    border-left: rgb(244, 123, 17) solid 3px;
    border-right: rgb(244, 123, 17) solid 3px;

}

section {
    background-color: white;
    margin-bottom: 5%;
}
section h2,h3 {
    color: white;
    background-color: rgb(244, 123, 17);
}
section article {
    padding: 0 10%;
    margin: 5% 0;
    overflow: auto;

}
section.siglo19 {
    background-color: aqua;
}
section.siglo19 h2,h3 {
    color: aquamarine;
    background-color: gray;
}

article img {
    width: 150px;
    height: 200px;
    margin: 0 2%;
}

article figure {
    display: block;
    float: right;
    padding: 2% 10%;
    border-left: rgb(244, 123, 17) dotted 3px;
}
article p {
    display: block;
    width: 70%;
    text-align: justify;
    padding: 1%;
}