*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    width:100% ;
    height:1000px ;
}

/* Contenido de la cabecera */
header{
    width:100%;
    height:600px;
    background:linear-gradient(rgb(255,255,255) 10%, transparent 90%),url("../media/imagenes/headerIES.jpg") no-repeat;
    background-size: cover;
}
header div.encabezado {
    width: 100%;
    height: 20%;
    display: flex;
    flex: row nowrap;
    padding: 2%;
    gap: 30px;
}
header div.encabezado figure {
    width: 100px;
    height: 90px;
    align-self: center;
}
header div.encabezado div.texto {
    width: 75%;
    align-self: center;
    text-align: left;
}
header div.encabezado div.texto h1 a {
    color: black;
    text-decoration: none;
}
header div.encabezado div.texto h1 a:hover {
    color: red;
}
header div.encabezado  div.texto h3 {
    color: darkgreen;
}
header div.encabezado div.buscar {
    width: 15%;
    align-self: center;
    text-align: right;
}
header div.encabezado div.buscar a {
    color: black;
    text-decoration: none;
}
header div.encabezado div.buscar a:hover {
    color: red;
}

/* Colocar estilos del nav */
/*Borde y posición del nav*/
header nav{
    position:sticky; position:-webkit-sticky; top:0; /* Posición sticky en top */
    width:70%;
    height:10%;
    margin:auto; /*Centra el nav*/
    background-color:white;
    /*Centrarnav*/border-color:red;
    border-style: solid;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    -webkit-border-radius:15px;
}
  
/*Quitar estilo <li> a <ul> */
header nav ul {
    list-style:none;
}

/* items del menu */
header nav ul li {
    display:inline-block;
    width:16%;
    height:100%;
}
    
/* items del menu desplegable */
header nav ul ul li {
    display:block;
    width:100%;
}

/* items del menu desplegable al pasar el ratón */   
header nav ul li:hover > ul {
    display:block;
}  

/* Posición del menú desplegable. Primer nivel */
header nav ul ul{
    display:none; /*No se visualiza mientras no haya evento hover */
    position:absolute; /*Posición respecto del nav */
    bottom:auto;
    background:#eee;
}
/* Posicion del menú desplegable. Segundo nivel */
header nav ul ul ul{
    display:none; /*No se visualiza mientras no haya evento hover */
    position:absolute; /*Posición respecto del ul */
    top:33.3%;
    left:100%;
}

/* Posiciñon del menú desplegable. Tercer nivel */
header nav ul ul ul ul{
    display:none; /*No se visualiza mientras no haya evento hover */
    position:absolute; /*Posición respecto del ul */
    top:0%;
    left:100%;
}

/*Formato de los enlaces */
header nav ul li a {
    display:block;
    color:red;
    text-decoration:none;
    font-size:16px;
    width:100%;
    height:100%;
    letter-spacing:1px;
    padding:10px 15px;
}

/*efecto al pasar el ratón por los items del menu*/
header nav a:hover {
    background-color:black;
    color:gray;
}

/* Icono en los desplegables */
header nav a i{
    float:right;
}

/* Contenido Main */
main{
    display:flex;
    flex: row nowrap;
    background-color: rgb(209, 208, 208);
    padding-left: 10%;
    padding-right: 5%;
}
main section {
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-around;
}
main section article {
    width: 30%;
    height: 300px;
    border: 1px darkred solid;
    margin: 1%;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    color: red;
    background:linear-gradient(rgb(255,255,255) 40%, transparent 60%),url("../media/imagenes/headerIES.jpg") no-repeat;
    background-size: cover;
}
main section article.Inicial {
    background: linear-gradient(rgb(255,255,255) 40%, transparent 60%),url("../media/imagenes/headerIES.jpg") no-repeat;
}
main section article.TextoOver {
    background-color: blueviolet;
}
main section article.Inicial h4 {
    padding: 3% 10%;
    border-bottom: 1px red solid;
}
main section article.Inicial h1 {
    padding: 5% 10%;
    font-size: 25px;
}
section{
    width:70%;
    height:50%;
}

/* Contenido Aside */
aside{
    width:30%;
    height:50%;
    padding: 5%;
    background-color: rgb(209, 208, 208);
}
aside p a {
    color: red;
    text-decoration: none;
}
aside p a:hover {
    color: gray;
}
aside figure.biblioteca {
    width: 100%;
    height: 90px;
    margin: 5%;
}
aside figure.logotipos {
    width: 100%;
    height: 50px;
    margin: 5%;
    display: flex;
    flex: nowrap;
    gap: 2%;
}
aside section.encuentranos {
    padding: 10%;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
}
aside section.encuentranos a {
    color:rgb(30, 140, 96);
}
aside section.encuentranos a:hover {
    color:gray;
}
aside section.buscar {
    margin-top: 10%;
    margin-bottom: 10%;
}
aside section.buscar form input {
    margin-top: 15%;
}
aside section.buscar form input.submit {
    border: 1px red solid;
    color: red;
    background-color: white;
    font-weight: bolder;
    padding: 10%;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
aside section.buscar form input.submit:hover {
    border: black;
    background-color: black;
    color: white;
}
aside section.videos {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    padding-top: 10%;
    padding-bottom: 10%;
}
aside section.video iframe {
    width: 100%;
    height: 50%;
}

/* Contenido del footer */
footer{
    width:100%;
    height:50%;
    background-color: black;
    color: grey;
}
footer nav {
    width: 100%;
    height: 10%;
    background-color: rgb(26, 26, 26);
    padding-top: 2%;
    padding-bottom: 2%;
    
}
footer nav a {
    color: white;
    text-decoration: none;
    margin: 1%;
}
footer nav a:hover {
    color: gray;
}
footer div.contenido{
    width: 100%;
    height: 90%;
    display: flex;
    flex: row nowrap;
    gap: 3%;
}
footer div ul.enlaces li {
    list-style:circle;
}
footer div {
    width: 33%;
}
footer div p {
    margin: 20px;
}
footer div a {
    color: white;
    text-decoration: none;
}
footer div a:hover {
    color: gray;
}
footer p.gris {
    color: antiquewhite;
}
footer div li {
    font-weight: bold;
}
footer div.calendario {
    width: 33%;
    border-right: red 2px solid;
    padding: 1%;
}
footer div.calendario img {
    width: 90%;
    height: 90%;
}
footer div.enlaces{
    width: 33%;
    padding: 1%;
}
footer div.encuentranos {
    width: 33%;
    border-left: green 2px solid;
    padding: 1%;
}
footer div.encuentranos figure {  
    width: 50%;
    height: 15%;
    margin: 5%;
    display: flex;
    flex: nowrap;
    gap: 2%;
}

img{
    width:100%;
    height:100%;
    object-fit: fill;
}