*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 1000px;
}

/*Contenido de la cabecera*/

header{
    width: 100%;
    height: 800px;
    background:linear-gradient(rgb(255,255,255) 10%, transparent 90%), url("../media/insituto.jpg") no-repeat;
    background-size: cover;
}

header div.encabezado{
    display: flex;
    flex: now nowrap;
    width: 100%;
    height: 30%;
    padding: 2%;
    gap: 5%;

}

header div.encabezado figure{
    width: 100px;
    height:90px;
    align-self: center;
}

header div.encabezado div.texto{
    width: 75%;
    align-self: center;
    text-align: left;
}

header div.encabezado div.texto h1 a{
    color: black;
    text-decoration: none;
}

header div.encabezado div.texto h1 a:hover{
    color: rgb(255, 0, 0);
}

header div.encabezado div.texto h3{
    color: rgb(88, 88, 209);
}

header div.encabezado div.buscar{
    width: 15%;
    align-self: center;
    text-align: right;
}

header div.encabezado div.buscar a{
    color: black;
    text-decoration: none;
}

header div.encabezado div.buscar a:hover{
    color: rgb(255, 0, 0);
}

/*ESTILOS DE NAV DEL HEADER*/

header nav{
    position:sticky; position:-webkit-sticky; top:10px;
    width:80%;
    height:55px;
    margin:auto; 
    background-color:white;
    border-color:red;
    border-style: solid;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    -webkit-border-radius:15px;
  } 
  
  /*Quitar estilo <li> a <ul> */
  header nav ul {
    list-style:none;
  }
  
  /* items del menu */
  header nav ul li {
    display:inline-block;
    width:16%;
    height:100%;
    
  } 
     
  /* items del menu desplegable */
  header nav ul ul li {
    display:block;
    width:100%;
  }
  
  /* items del menu desplegable al pasar el ratón */   
  header nav ul li:hover > ul {
    display:block;
  }   
  
  /* Posición del menú desplegable. Primer nivel */ 
  header nav ul ul{
    display:none; /*No se visualiza mientras no haya evento hover */
    position:absolute; /*Posición respecto del nav */
    bottom:auto;
    background:#eee;
  } 
  /* Posiciñon del menú desplegable. Segundo nivel */
  header nav ul ul ul{
    display:none; /*No se visualiza mientras no haya evento hover */
    position:absolute; /*Posición respecto del ul */
    top:33.3%;
    left:100%;
  } 
  
  /* Posiciñon del menú desplegable. Tercer nivel */
  header nav ul ul ul ul{
    display:none; /*No se visualiza mientras no haya evento hover */
    position:absolute; /*Posición respecto del ul */
    top:0%;
    left:100%;
  } 
  
  /*Formato de los enlaces */
  header nav ul li a {
    display:block;
    color:red;
    text-decoration:none;
    font-size:16px;
    width:100%;
    height:100%;
    letter-spacing:1px;
    padding:10px 15px;
  } 
   
  /* efecto al pasar el ratón por los items del menu */   
  header nav a:hover {
  background-color:black;
  color:gray;
  }
  
  /* Icono en los desplegables */
  header nav a i{
    float:right;
  }

main{
    display: flex;
    flex: row nowrap;
    background-color: #e3e0e0;
    padding-left: 2%;
    padding-right: 2%;
}

main section{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

main section article{
  width: 23%;
  height: 350px;
  border: 1px rgb(255, 0, 0) solid;
  margin: 2%;
  color: rgb(205, 47, 47);
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

main section article.inicial{
  background:linear-gradient(rgb(255,255,255) 40%, transparent 60%), url("../media/insituto.jpg") no-repeat;
  background-size: cover;
  /* width: 20rem;
  height: 30rem; */
  position: relative;
  background-position: center;
  overflow: hidden;
}

main section article.textoOver{
  background-color: rgb(175, 119, 119);
  padding: 2%;
  text-align: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  opacity: 0;
  padding: 2rem 1.3rem 2rem 2rem;
  transition: all 0.4s ease 0;
  -webkit-transition: all 0.4s ease 0;
  -moz-transition: all 0.4s ease 0;
  -ms-transition: all 0.4s ease 0;
  -o-transition: all 0.4s ease 0;
}

main section article:hover article.textoOver{
  opacity: 1;
}

main section article.inicial h4{
  padding: 3% 10%;
  border-bottom: 1px red solid;
}

main section article.inicial h1{
  padding: 5% 10%;
  font-size: 1.5em;
}

section{
    width: 70%;
    height: 100%;
}

aside{
    width: 30%;
    height: 100%;
    padding: 2%;
}

aside p a{
  color: rgb(255, 0, 0);
  text-decoration: none;
}
aside p a:hover{
  color: rgb(118, 113, 113);
}

aside figure.biblioteca{
  width: 100%;
  height:100%;
  margin: 10%;
}

aside figure.logotipos{
  width: 70%;
  height: 50%;
  margin: 2%;
  display: flex;
  flex: now wrap ;
  gap: 1%;
}

aside section.encuentranos{
  padding-top: 10%;
  padding-bottom: 20%;
  border-top: 1px rgb(151, 149, 149) solid;
  border-bottom: 1px rgb(151, 149, 149) solid;
}

aside section.encuentranos a{
  color: rgb(12, 176, 159);
}
aside section.encuentranos a:hover{
  color: rgb(93, 94, 94);
}

aside section.buscar{
  margin-top: 10%;
  margin-bottom: 10%;
}

aside section.buscar form input{
  margin-top: 10%;
}

aside section.buscar form input.submit{
  border:1px red solid;
  padding: 10px;
  background-color: white;
  color: red;
  font-weight: bold;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

aside section.buscar form input.submit:hover{
  background-color: black;
  color: white;
  border:1px rgb(0, 0, 0) solid;
}

aside section.videos iframe{
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  padding-top: 10%;
  padding-bottom: 10%;
}

aside section.videos iframe{
  width: 100%;
  height: auto;
}

footer{
  width:100%;
  height: 400px;
  background-color:black;
  color:gray;
}

footer nav{
  width:100%;
  height:10%;
  background-color: #434242;
  padding-top: 2%;
  padding-bottom: 5%;
}

footer nav a{
  color: white;
  text-decoration: none;
  margin: 2%;
}

footer nav a:hover{
  color: rgb(126, 124, 124);
}

footer div.contenido{
  display:flex;
  width:100%;
  height:90%;
  flex:row nowrap;
  gap:3%;
}

footer div p{
  margin:20px;
}
footer div a{
  color:whitesmoke;
  text-decoration: none;
}
footer div a{
  color:whitesmoke;
  text-decoration: none;
}
footer div a:hover{
  color:gray;
}
footer div p.grisClarito{
  color:antiquewhite;
}
footer div li{
  font-weight: bold;
}
footer div.calendario{
  width:33%;
  padding:1%;
  border-right: red 2px solid;
}

footer div.calendario img{
  width: 85%;
  height: 85%;
}

footer div.enlaces{
  width:33%;
  padding:1%;
}
footer div.encuentranos{
  width:33%;
  padding:1%;
  border-left:rgb(0, 255, 0) 2px solid;
}
footer div.encuentranos figure.logotipos{
  width: 35%;
  height: 15%;
  margin: 2%;
  display: flex;
  flex: now wrap ;
  gap: 1%;
}

img{
  width:100%;
  height:100%;
  object-fit: fill;
}


