

div.rojo{
    background-color: red;
    width: 15%;
    float: left;
}

div.verde{
    background-color: green;
    /* position: absolute; */
    /* top: 100px; */
    /* left 300px; */
    width: 15%; 
    z-index: 5;
    float: left;
}

div.azul{
    background-color: blue;
    width: 15%;
    /* position: relative; */
    /* top: 100px; */
    /* right: 200px; */
    z-index: 3;
    float: left;
}   