*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'HelveticaNeue',Helvetica,Arial,Verdana,sans-serif !important;
}

body{
  width: 100%;
  height: 1600px;
} 

header{
  width: 100%;
  height: 9%;
  background-color: #202A36;
  position:sticky; 
  position:-webkit-sticky; 
  top: 0px;
}

header div.encabezado{
  margin-left: 7%;
  margin-right: 7%;
  display:flex;
  flex:row nowrap;
  height:50%;
  padding:2%;
  gap:5%; 
}

header div.encabezado figure.logo{
  position: relative;
  bottom: 15px;
}

header div.encabezado div.encabezadoderecha{
  position: relative;
  left: 33%;
  display: inline-flex;
  color: white;
}

header div.encabezado form,figure,p{
  margin-left: 0.8%;
  margin-right: 0.8%;
  font-size: 12px;
}
header div.encabezado p.pipeline{
  font-size: 22px;
}

header div.encabezado figure.posicionamiento,p.posicionamiento{
  position: relative;
  top:5px;
}

header div.encabezado div.encabezadoderecha form input{
  height: 30px;
}

header nav{
  position: relative;
  top: 30%;
  width: 100%;
  height: 38%;
  background-color: #C3CACD;
}

/* menu */

header nav ul {
  margin-left: 10%;
  margin-right: 10%;
  list-style:none;
  height: 100%;
  width: 80%;
 }
 
 /* items del menu */
 
 header nav ul li {
  background-color:#C3CACD;
  height: 100%;
  width: autoS;
 }
 
 /* enlaces del menu */
 
 header nav ul a {
  height: 100%;
  display:block;
  color:#202A36;
  text-decoration:none;
  font-size: 13px;
  font-weight: 300;
  padding:10px;
  border-right: #B4B4B4 solid 1px;
 }

 

 header nav ul li.cotizadorimpresion{
  background-color: #DD0000;
  color: white;
  padding: 0;
  margin: 0;
  border: solid #DD0000 1px;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    -webkit-border-radius:15px;
  
 }

 header nav ul li.asiaexpress{
  background-repeat: no-repeat;
  background-image: url(./Imagenes/asiaexpress.png);
 }

 header nav ul li.asiaexpress a{
  color: transparent;
 }
 
 /* items del menu */
 
 header nav ul li {
  position:relative;
  float:left;
 }
 
 /* efecto al pasar el ratón por los items del menu */
 
header nav ul li:hover a{
  height: 100%;
  background:#3A4A5E;
  color: white;
 } 

 header nav ul li.cotizadorimpresion:hover a{
  height: 100%;
  background:#DD0000;
  color: white;
 }

main{
  width: 100%;
  height: 90%;
}

main section.imagencentral{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  height:90%;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 0px; 
}

main section.imagencentral div{
  width:100%;
  height:100%;
}

main section.imagencentral div img{
  width:100%;
  height:100%;
  object-fit:fill;
}

main section.imagencentral div.uno{
  grid-area: 1 / 1 / 7 / 3;
}

main section.imagencentral div.dos{
  grid-area: 1 / 3 / 6 / 4;
}

main section.imagencentral div.tres{
  grid-area: 7 / 1 / 11 / 2;
}

main section.imagencentral div.cuatro{
  grid-area: 7 / 2 / 11 / 3;
}

main section.imagencentral div.cinco{
  grid-area: 6 / 3 / 11 / 4;
}

main section.panelhorizontal{
  width: 300%;
  margin-top: 10%;
  display:inline-flex;
  justify-content: space-between;
}

main section.panelhorizontal article{
  width:40%;
  height:280px;
}

main section.panelhorizontal article div{
  height:100%;
  width: 100%;
}

main section.panelhorizontal article div img{
  height:100%;
  width: 100%;
  object-fit: fill;
}

main section.panelhorizontal article div.inicial p,div.colores{
  text-align: center;
  margin-top: 5%;
}

main section.panelhorizontal article div.inicial div.colores{
  display: inline-flex;
  position: relative;
  left: 46%;
}

main section.panelhorizontal article div.inicial div.colores img{
  width: 6%;
  height: 6%;
}

main section.panelhorizontal article div h1{
  padding: 45% 10%;
  font-size: 1em;
  font-weight: 0;
}

main section.panelhorizontal article:hover div.oculto{
  opacity:0.8;
} 

main section.panelhorizontal article div.oculto{
  position: relative;
  bottom: 280px;
  background-color:#7297C0;
  height:100%;
  padding: 10%;
  text-align:center;
  color: white;
  font-weight: 100;
  vertical-align: middle;
  z-index: 1;
  opacity: 0; 
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
}  

footer{
  width: 100%;
  height: 15%;
}

footer section.top{
  width: 100%;
  height: 88%;
  background-color: #EBECED;
}

footer section.top{
 display: inline-block;
}

footer section.top div.derecha{
  margin-right: 10%;
  float: right;
  text-align: center;
}

footer section.top div.izquierda{
  margin-left: 10%;
  float: left;
}

footer section.top div.izquierda img{
  margin-top: 4%;
  width: 8%;
  height: 8%;
}

footer section.top div.listado{
  margin-top: 12%;
  display: flex;
  white-space: nowrap;
}

footer section.top div.listado ul{
  list-style: none;
  margin-right: 60%;
}

footer section.top div.listado ul li{
  margin-top: 3%;
  font-size: 13px;
  color: black;
}

footer section.sub{
  width: 100%;
  height: 20%;
  background-color: #202A36;
}

footer section.sub p{
  position: relative;
  top: 40%;
  color: white;
}

footer section.sub p.izquierda{
  margin-left: 10%;
  float: left;
}

footer section.sub p.derecha{
  margin-right: 10%;
  float: right;
}