h1{
    background-color: cyan;
    padding: 10%;
}
h1.rojo{
    color: red;
}
h1.verde{
    color: green;
}

@media screen and (max-width: 600px){
    h1{
        background-color: rgb(220, 175, 238);
    }
}