@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');

#intro:target{
    color:blue
}

/*Pseudo sobre-enlaces */
a.enlace{
    text-decoration:none;
}
a.enlace2:visited{
    color:gray; text-decoration:underline;
}
a.enlace3:hover{
    background-color: #f44336; color: white;
    padding: 14px 25px;
}

p:target {
    background-color: gold;
}
/* Agrega un pseudo-elemento dentro del elemento de destino */
p:target::before {
    font: 70% sans-serif;
    content: "►";
    color: limegreen;
    margin-right: .25em;
}
/* Estilo de elementos en cursiva dentro del elemento de destino */
p:target i {
    color: red;
}

#ElQuijote:after {
    content: "SEGUIR LEYENDO...";
}
#ElQuijote::first-letter {
    font-size: 3em;
}

body{
    background-color:rgb(218, 255, 249);
  }
  p{
    color:rgb(0, 0, 0);
  }

div.imagenFondo{
    background-image:url(../media/car.png), url("../media/carretera.png");
    width:100%;
    height:300px;
    background-size:100% 100%;
    background-repeat: no-repeat;
}

div {
    display:block;
    width: 30%;
    overflow: auto;
}

div img{
width: inherit;
}

div.degradado{
    background: linear-gradient(blue, white, red);
}

div.background{
    background: url("../media/fondo.jpg") no-repeat;
}

h1.letra{
    font-family:Gajraj One;
}

h1.sombreado{
    text-shadow:2px 2px rgb(71, 255, 108);
}

.columnas{
    column-count: 3;
}

/*Barra navegadora */
nav {
    background-color: white;
    width: 70%;
    border-color: red;
    border-style: dotted;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

nav ul li a:hover {
    background-color: black;
    color: white;
    font-size: 2em;
    text-decoration: none;
}

/*Trabajando con listas */
ul {
    list-style-type: lower-greek;
}

/*Trabajando con tablas */
table{
    border-collapse: collapse;
}

thead {
    background-color: blue;
    color: white;
    font-weight: bold;
}

tbody{
    background-color: rgb(192, 249, 249);
    color: black;
}

tr td{
    border: 2px aqua dotted;
}

/* CSS para dropdown */
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* menu desplegable */

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
   }
   
   /* items del menu */
   
   #menu ul li {
    background-color:#2e518b;
   }
   
   /* enlaces del menu */
   #menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
   }
   
   /* items del menu */
   #menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
   }
   
   /* efecto al pasar el ratón por los items del menu */
   #menu ul li:hover {
    background:#5b78a7;
   }

   /* menu par aque sea desplegable */
#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
   }
   
   /* items del menu desplegable */
   #menu ul ul li {
    float:none;
    width:150px
   }
   
   /* enlaces de los items del menu desplegable */
   #menu ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   
   /* items del menu desplegable al pasar el ratón */
   #menu ul li:hover > ul {
    display:block;
   }

   div.caja{
    background-color: cyan;
    width: 150px;
    height: 200px;
    margin: 20px;
   }

   div.borde {
    border: 2px solid orange;
   }

   div.padding {
    padding: 20px;
   }

   div.ejemplo {
    width: 33.3%;
    border: 10px;
    padding: 10px;
    background-color: red;
    float:left;
    }