/*
    Esto es un comentario en CSS
*/

/* body{
    background: linear-gradient(#eeec83, #3f87a6) no-repeat;
} */

p {
    font-weight: bold;
    text-decoration:line-through;
    background-color:blueviolet;
}
p.otro{
    background-color:bisque;
}

p#identificador{
    text-decoration: none;
    background-color:orange;
}

li:nth-child(even) {
    background-color: green;
}

ul.impar li {
    background-color: aqua;
}

table{
    border: 2px dotted black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: green;
}

tr:nth-child(even) td{
    border: 2px solid blue;
}

tr:nth-child(odd) {
    background-color: yellow;
}

tr.fila{
    background-color: rgba(112,212,125,1);
}

div {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
  }
  
  div:hover {
    width: 300px;
  }

  div#animated_div:active {
    width:70px;
    height:47px;
    background: #92B901;
    color: #ffffff;
    position: relative;
    font-weight:bold;
    font-size:20px;
    padding:10px;
    animation:animated_div 5s 1;
    -moz-animation:animated_div 5s 1;
    -webkit-animation:animated_div 5s 1;
    -o-animation:animated_div 5s 1;
    border-radius:5px;
    -webkit-border-radius:5px;
    }
    
    @keyframes animated_div
    {
    0% {transform: rotate(0deg);left:0px;}
    25% {transform: rotate(20deg);left:0px;}
    50% {transform: rotate(0deg);left:500px;}
    55% {transform: rotate(0deg);left:500px;}
    70% {transform: rotate(0deg);left:500px;background:#1ec7e6;}
    100% {transform: rotate(-360deg);left:0px;}
    }
    