table{
    border-collapse:collapse;
}
td{
    border:1px solid black;
}
th{
    border:2px solid blue;
}
table img{
    width:200px;
}

section {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;

}


section h2 {
    text-align: center;
}

section script {
    background-color: gray;
}


body {
    background-color: aquamarine;
}