table{
    border-collapse:collapse;
}
table tr{
    border:1px solid black;
}
table th{
    border:2px solid blue;
}
table img{
    width:200px;
}

section#pokemonsBootstrap{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
}

section#pokemonsBootstrap div{
    background-color:beige;
    align-items: center;
    margin:1%;
    border: 2px solid blue;
}
section#pokemonsBootstrap div h3{
    background-color: yellowgreen;
}
section#pokemonsBootstrap div h3,p{
    text-align:center;
}